/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Mobile First Approach */
/* Global Styles */
:root {
  --pop-color: #00b1d8;
  --accent-color:#005e70;
  --bg-light: #eeeeee;
  --text-dark: #000000;
  --myfont: "Merriweather Sans", sans-serif;
}


body {
  background-image: url('/images/site/checkerboard.jpg');
  background-repeat: repeat;
  font-family: var(--myfont);
  margin: 0;
}

/* The main tag*/
#wrapper {
  background-color: white;
  max-width: 900px;
  margin: 20px auto;
  border: 5px solid #00b1d8;
  padding: 20px;
}

h1{
  font-size: large;
}

/* The Header Part */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-header a {
  text-decoration: none;
  color: var(--text-dark);
}

#tools a {
  text-transform: uppercase;
  font-size: 0.95rem;
}

/* The Navigation - Black bar */

#nav-list {
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#nav-list li {
  flex: 1;
  /*Forcing item to take up equal space and shrink to fit */
  text-align: center;
}

#nav-list li a {
  color: white;
  text-decoration: none;
  padding: 15px 2px;
  display: block;
  font-size: 0.85rem;
  white-space: nowrap;
  /* Preventing the text from wrapping to a second line */
}

#nav-list li a:hover {
  background-color: var(--pop-color);
  color: black;
}

/* --- The HERO SECTION Part--- */

#hero {
  position: relative;
  text-align: left;
  padding-bottom: 100px;
}

#hero img {
  width: 100%;
  height: auto;
}

#hero-details {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--accent-color);
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  text-align: left;
  max-width: 85%;
}

#hero-details h2 {
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.cta-button {
  background-color: var(--pop-color);
  color: var(--text-dark);
  text-decoration: none;
  padding: 8px 10px;
  font-weight: bolder;
  font-size: 0.8rem;
  border: 1.5px solid black;
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.25s ease;
}

.cta-button:hover{
  background-color:rgba(15, 205, 248, 0.50); 
  transform: translateY(-2px); 
}

/* --- The REVIEWS SECTION --- */
#reviews {
  margin-bottom: 30px;
}

#reviews ul {
  padding-left: 20px;
}

#reviews li {
  margin-bottom: 15px;
}

/* --- The UPGRADES SECTION --- */
.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.upgrade-item {
  background-color: var(--pop-color);
  padding: 10px;
  text-align: center;
}

.upgrade-item .img-box {
  background-color: white;
  border: 1px solid black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.upgrade-item img {
  max-height: 70px;
}

.upgrade-item a {
  color: #000024;
  font-size: 0.9rem;
}

#footer-bottom{
  margin-top: 2rem;
}

/* --- LARGE SCREEN ADJUSTMENTS --- */
@media screen and (min-width: 700px) {
  #nav-list li a {
    font-size: 1.1rem;
    padding: 15px 10px;
  }
  
  #hero{
    text-align: center;
    padding-bottom: 50px;
  }

  #hero-container {
    flex-direction: row;
    justify-content: space-between;
  }

  #hero-details {
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
    font-size: larger;
  }

  #hero-details h2{
    font-size: 1.5rem;
  }
  .cta-button{
    padding: 15px 30px;
    margin-top: 10px;
    font-size: 1rem;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    /*The upgrades on left, reviews on right */
    gap: 40px;
    margin-top: 20px;
  }

  #upgrades,
  #reviews {
    flex: 1;
  }
}
