<!-- WK04-A: Building the ADD CLASSIFICATION FORM UI 
 This file display the FORM to admin-user to add a
 vehicle classification into the database.
-->

<!-- Display Title -->
<h1>
    <%= title %>
</h1>

<!-- This displays the flash messages (like "Sorry, insertion failed") -->
<%- messages() %>

<!-- This displays the specific validation errors (like "Please provide a make") -->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }) %>
    </ul>
    <%} 
%>

<!--Add-Classification Form -->
<form action="/inv/add-classification" method="post" class="login-form">
    <label for="classification_name">Classification Name</label>
    <span>Classification Name must be alphabetic characters only.</span>
    <input type="text" 
    name="classification_name" 
    id="classification_name" 
    required 
    pattern="^[a-zA-Z0-9]+$"  
    value="<%= locals.classification_name %>">>
   
    <button type="submit">Add Classification</button>
</form>