<!--WK04-A This is part of the M-V-C and it 
* contains the ejs template to output the inventory management view UI:
* --> 

<!-- Display Title -->
<h1>
    <%= title %>
</h1>

<!-- This displays the flash messages (like "Sorry, 404-page doesn't exist") -->
<%- messages() %>

<div class="management-links">
    <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
</div>